/* Ð¡USTOM PROPS */

:root {
    --primary: #0A775F;
    --text-color: #333;

}

/* @font-face */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-700.woff') format('woff');
}



/* GLOBAL STYLES */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5px;
    color: var(--text-color);
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 2px dashed var(--primary);
    outline-offset: 2px;
}

/* visually hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE_HEADER */
.site-top {
    background-color: #F3D7B7;
    margin-bottom: 20px;
}

.site-header {
    padding: 40px 0;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo__link {
    text-decoration: none;
    flex-shrink: 0;
}

.logo-img {
    width: 235px;
    height: 24px;
    display: flex;
    object-fit: contain;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}

.nav__link:hover {
    color: rgb(48, 48, 172);
}

.nav__link:active {
    color: rgb(116, 116, 209);
}


/* INTRO */
.intro__wrapper {
    display: flex;
}

.intro__container {
    padding-right: 0px;
    padding-left: 0;

}

.intro__content {
    width: 472px;
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 115px;
    padding-bottom: 250px;
}

.intro__heading {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    margin: 0;
    margin-bottom: 24px;
    color: #000000;
}

.intro__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 34px;
}

.intro__link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--primary);
}

.button {
    display: inline-block;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    padding: 16px 24px;
    text-transform: uppercase;
    white-space: nowrap;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.intro__img-wrapper {
    position: relative;
    flex-grow: 1;
}

.intro__img-badge {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.intro__img-background {
    position: absolute;
    width: 710px;
    height: 696px;
    max-height: 100%;
    display: block;
}

/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}

/* OUR COLLECTION */

.our-collection {
    position: relative;
    margin-bottom: 20px;
}

/* ----------Leaves------------------ */
.leave-top-left {
    position: absolute;
    top: 30px;
    left: -140px;
}

.leave-bottom-left {
    position: absolute;
    left: -165px;
    bottom: 125px;
}

.leave-center-1 {
    position: absolute;
    top: 50%;
    right: -160px;

}

.leave-center-2 {
    position: absolute;
    top: 47%;
    right: -400px;
}

/* ------------------------------ */

.our-collection__heading {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}

.inner-wrapper {
    background-color: #F5F5ED;
    padding: 50px 143px;
}

.our-collection__list {
    margin: 0;
    list-style: none;
}

.our-collection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-collection__item:nth-child(even) {
    flex-direction: row-reverse;
}

.our-collection__item:nth-child(odd) .our-collection__item__img {
    padding-right: 117px;
}

.our-collection__item:nth-child(even) .our-collection__item__img {
    margin-right: 0;
    padding-left: 117px;
}

.our-collection__item__content {
    width: 453px;
}

.our-collection__item__heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.our-collection__item__text {
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}


/* WHY CHOOSE US */

.features {
    text-align: center;
    position: relative;
}

.index-features__inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(../img/bg-brown.png);
    background-repeat: no-repeat;
    background-size: 100% 703px;
    position: relative;
}

.index-features__inner-img {
    position: absolute;
    top: 300px;
    left: 25px;
    transform: translate(-35%, -45%);
}

.features__heading {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.features__text {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}


.features__item:nth-child(1) {
    position: relative;
}

.features__item:not(:last-child) {
    margin-right: 20px;
}

.features__item__img {
    width: 433px;
    height: 500px;
    max-width: 100%;
    display: block;
}

.features__item__content {
    text-align: left;
    margin-top: 28px;
    margin-bottom: 30px;
}

.features__item__heading {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--text-color);
    text-transform: uppercase;
}

.features__item__text {
    margin: 0;
    width: 377px;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}

/* HOW IT WORKS */

.working-system {
    text-align: center;
    padding: 50px 30px;
    background-color: var(--primary);
    margin-bottom: 50px;
}

.working-system {
    position: relative;
}

.working-system__img {
    position: absolute;
    right: 70px;
    top: 50px;
}

.working-system__heading {
    text-transform: uppercase;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 160px;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

.working-system__list {
    position: relative;
    margin-bottom: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--text-color);
    text-align: left;
    counter-reset: son;
}

.working-system__list:before {
    content: '';
    position: absolute;
    background-image: url(../img/dashed-line.svg);
    left: 0;
    top: -40px;
    width: 880px;
    height: 3px;
}

.working-system__item {
    position: relative;
    width: 433px;
    background-color: #F8F8F2;
    padding: 20px 20px 40px;
    counter-increment: son;
}

.working-system__item::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
    top: -70px;
    left: 0;
    z-index: 5;
}

.working-system__item::before {
    text-align: right;
    content: '0'counter(son);
    top: 20px;
    right: 20px;
    font-size: 64px;
    line-height: 75px;
    color: #333333;
    opacity: 0.8;
    display: block;
}

.working-system__item:not(:last-child) {
    margin-right: 20px;
}

.working-system__item__heading {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    width: 270px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.working-system__item__text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}

.working-system__link {
    text-decoration: none;
    margin-top: 60px;
    background-color: #C99B67;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
}


/* FOOTER */

.site-footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.site-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials__link {
    text-decoration: none;
}

.socials__link:not(:last-child) {
    margin-right: 30px;
}