:root {
    --primary: #0A775F;
    --text-color: #333;

}

/* @font-face */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-v29-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-700.woff') format('woff');
}



/* GLOBAL STYLES */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5px;
    color: var(--text-color);
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 2px dashed var(--primary);
    outline-offset: 2px;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1340px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE_HEADER */
.site-top {
    background-color: #F3D7B7;
    padding: 40px 0 250px 0;
    background-image: url(../img/intro-stamp.png),url(../img/intro-bg-image.jpg);
    background-repeat: no-repeat;
    background-position: top 25px center,calc(50% + 355px) bottom;
    background-size: 160px 160px, 710px 696px;
    margin-bottom: 20px;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo__link {
    text-decoration: none;
}

.logo-img {
    width: 235px;
    height: 24px;
    display: flex;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;/*TODO: hover bulmayapti*/
}

.nav__link:hover   {
    color:rgb(48, 48, 172);
}

.nav__link:active   {
    color:rgb(116, 116, 209);
}

/* INTRO */


.intro__content {
    max-width: 472px;
    margin-top: 156px;
    margin-left: 100px;
    margin-right: 116px;
}

.intro__heading {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    margin: 0;
    margin-bottom: 24px;
    color: #000000;
}

.intro__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 34px;
}

.intro__link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--primary);
}

.button {
    display: inline-block;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    padding: 16px 24px;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.6;
}
/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}

/* OUR COLLECTION */

.our-collection {
    margin-bottom: 20px;
}


.our-collection__heading {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}

.our-collection__list {
    margin: 0;
    list-style: none;
    padding: 50px 143px;
    background-color: #F5F5ED;
}

.our-collection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-collection__item:nth-child(odd) {
    flex-direction: row-reverse;
}

.our-collection__item:nth-child(even) .our-collection__item__img {
    margin-right: 117px;
}

.our-collection__item:nth-child(odd) .our-collection__item__img {
    margin-right: 0;
    margin-left: 117px;
}

.our-collection__item__content {
    width: 453px;
}

.our-collection__item__heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.our-collection__item__text {
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}


/* WHY CHOOSE US */

.features {
    margin-bottom: 80px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.features__container {
    padding-top: 50px;
    background-image: url(../img/bg-brown.png);
    background-repeat: no-repeat;
    background-size: 1400px 703px;
}

.features__heading {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.features__text {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.features__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.features__item:nth-child(1) {
    position: relative;
}

.features__item:not(:last-child) {
    margin-right: 20px;
}

.features__item__img {
    width: 433px;
    height: 500px;
    display: block;
}

.features__item__content {
    text-align: left;
    margin-top: 28px;
}

.features__item__heading {
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--text-color);
}

.features__item__text {
    margin: 0;
    width: 377px;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}

/* HOW IT WORKS */

.working-system {
    text-align: center;
    padding: 50px 30px;
    background-color: var(--primary);
    margin-bottom: 50px;
}

.working-system__heading {
    text-transform: uppercase;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 140px;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}

.working-system__list {
    margin-bottom: 60px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--text-color);
    text-align: left;
    counter-reset: son;
}

.working-system__item {
    position: relative;
    width: 433px;
    background-color: #F8F8F2;
    padding: 20px 20px 40px;
    counter-increment: son;
}

.working-system__item::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid #C99B67;
    top: -70px;
    left: 0;
    z-index: 5;
}

.working-system__item::before {
    text-align: right;
    content: counter(son);
    /*TODO:not working*/
    top: 20px;
    right: 20px;
    font-size: 64px;
    line-height: 75px;
    color: #333333;
    opacity: 0.8;
    padding-left: 320px;
    /*TODO:  tugrimi ?*/
}

.working-system__item:not(:last-child) {
    margin-right: 20px;
}

.working-system__item__heading {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    width: 270px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.working-system__item__text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
}

.working-system__link {
    text-decoration: none;
    margin-top: 60px;
    display: block;
    background-color: #C99B67;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;

}


/* FOOTER */

.site-footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.site-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials__link:not(:last-child) {
    margin-right: 30px;
}

